<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rasakan Nikmatnya Masakan Nusantara">
    <meta name="theme-color" content="556B2F"/>
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand&display=swap" rel="stylesheet">
    <title>Terkenang Resto</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to Content</a>
    <header class="header">
        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                Terkenang Resto
            </h1>
        </div>
        <button aria-label="menu" id="menu" class="header__menu fa fa-bars fa-3x"></button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item fa fa-home"><a href="#/home">Home</a></li>
            <li class="nav__item fa fa-heart"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item fa fa-user"><a href="https://www.facebook.com/farhanassegaf28" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__inner">
            <div tabindex="0" class="hero__title">Rasakan Nikmatnya Masakan Nusantara</div>
        </div>
    </div>

    <main></main>

    <footer>
        <p tabindex="0">©Dicoding 2022</p>
    </footer>
</body>
</html>
